body {
    background-color: #000;
    color: #fff;
    font-family: -apple-system, sans-serif;
    margin: 0; padding: 0;
}

.screen { display: none; flex-direction: column; align-items: center; padding-bottom: 120px; }
.active { display: flex; }

h2 { margin-top: 30px; font-size: 24px; text-transform: uppercase; letter-spacing: 1px; }

/* Сетка карточек */
.container {
    display: grid; grid-template-columns: 1fr 1fr;
    gap: 15px; padding: 15px; width: 100%; box-sizing: border-box;
}

.card {
    background-color: #1c1c1c; border-radius: 20px; padding: 20px;
    display: flex; flex-direction: column; align-items: center; text-align: center;
}

.card img { width: 80px; height: 80px; object-fit: contain; margin-bottom: 15px; }
.card h3 { font-size: 16px; margin: 0 0 10px 0; }
.card .price { color: #888; font-size: 14px; margin-bottom: 15px; }

/* Кнопки */
.btn-white {
    background-color: #fff; color: #000; border: none; border-radius: 12px;
    width: 100%; padding: 12px 0; font-weight: bold; text-transform: uppercase;
}

.btn-gray {
    background-color: #333; color: #fff; border: none; border-radius: 10px;
    width: 100%; padding: 10px 0; text-transform: uppercase; margin-top: 8px;
}

/* Счетчик */
.counter { display: none; justify-content: space-between; align-items: center; width: 100%; margin-bottom: 8px; }
.counter button { background-color: #333; color: #fff; border: none; border-radius: 8px; width: 40px; height: 40px; font-size: 20px; }

/* Корзина */
.cart-header { width: 100%; padding: 20px; text-align: left; }
.back-link { color: #248bf5; cursor: pointer; }
.cart-title { align-self: flex-start; padding-left: 20px; }
.cart-list { width: 100%; padding: 0 20px; box-sizing: border-box; }
.cart-item { display: flex; justify-content: space-between; margin-bottom: 15px; font-size: 18px; }
.promo-block { display: flex; gap: 10px; width: 90%; margin: 20px 0; }
.promo-input { background: #1c1c1c; border: 1px solid #333; color: #fff; padding: 12px; border-radius: 10px; flex-grow: 1; }
.btn-ok { background: #1c1c1c; color: #fff; border: 1px solid #333; border-radius: 10px; padding: 0 20px; }
.cart-summary { width: 100%; padding: 0 20px; text-align: left; }
#total-final { font-weight: bold; margin-top: 10px; font-size: 20px; }

.footer-fixed { position: fixed; bottom: 20px; width: 100%; display: flex; justify-content: center; z-index: 10; }
.btn-main { width: 90%; max-width: 400px; display: none; padding: 18px 0; font-size: 16px; }
